.landing__title {
  background-color: hsl(40, 80%, 60%);
}
.card {
  position: relative;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: hsla(0, 0%, 100%, 0.2);
  backdrop-filter: blur(0.5rem);
  border-radius: 1rem;
  border: 1px solid hsla(232, 17%, 35%, 0.4);
  box-shadow: 0 0 0rem hsla(0, 0%, 100%, 0);
  transition: transform 0.2s linear, border 0.2s linear, box-shadow 0.2s linear;
  min-width: 100%;
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0 0 0.7rem hsl(232, 17%, 35%);
  border: 1px solid hsla(11, 24%, 72%, 0.75);
}
.card .edit,
.card .delete {
  position: absolute;
  border: none;
  background-color: transparent;
  font-size: 2.3rem;
  cursor: pointer;
  color: hsl(0, 100%, 60%);
}
.card .delete {
  top: 1rem;
  right: 4rem;
}
.card .edit {
  top: 1rem;
  right: 7rem;
}
.card .card__link {
  min-height: 100%;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: black;
}
.card .card__link .card__headerImgContainer .card__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
}
.card .card__link .card__headerImgContainer .card__header h3 {
  font-size: 2rem;
  margin: 1rem 0;
  color: hsl(21, 35%, 92%);
  text-shadow: 0 0 0.5rem hsla(20, 80%, 60%, 0.8);
}
.card .card__link .card__headerImgContainer .card__header .card__headerButtons {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.card .card__link .card__headerImgContainer .card__header .card__headerButtons i {
  font-size: 2rem;
  color: hsl(0, 0%, 70%);
}
.card .card__link .card__headerImgContainer .imagen {
  height: 30rem;
  background-position: center;
  background-size: cover;
}
.card .card__link .card__temperaments {
  font-size: 1.5rem;
  padding: 0 1rem;
  color: hsl(21, 35%, 92%);
}
.card .card__link .card__info {
  display: flex;
  justify-content: space-around;
}
.card .card__link .card__info .card__infoWeight,
.card .card__link .card__info .card__infoAvg {
  margin: 0;
  padding: 1rem;
  flex: 1;
  color: hsl(21, 35%, 92%);
}
.card .card__link .card__info .card__infoWeight p,
.card .card__link .card__info .card__infoAvg p,
.card .card__link .card__info .card__infoWeight h5,
.card .card__link .card__info .card__infoAvg h5 {
  margin: 0;
  text-align: center;
  font-size: 1.5rem;
}
.card .card__link .card__info .card__infoWeight p,
.card .card__link .card__info .card__infoAvg p {
  padding-top: 1rem;
}
.card .card__link .card__info .card__infoWeight {
  background-color: hsl(240, 27%, 18%);
  border-bottom-left-radius: 1rem;
}
.card .card__link .card__info .card__infoAvg {
  background-color: hsl(232, 17%, 35%);
  border-bottom-right-radius: 1rem;
}
.detail__card {
  max-width: 60%;
  margin: 0 auto;
}
.detail__card img {
  max-width: 100%;
}
@media screen and (min-height: 480px) {
  .card {
    margin-bottom: 0;
  }
}
.landing__container {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing__container .landing__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.landing__container .landing__video {
  position: absolute;
  z-index: -1;
}
.landing__container .landing__button {
  width: 10rem;
  display: inline-block;
  margin-top: 5rem;
  text-decoration: none;
  color: white;
  background-color: hsl(309, 6%, 58%);
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}
.landing__container .landing__button .landing__button-link {
  width: 100%;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.landing__container .landing__iconBalloon {
  position: absolute;
  top: 19rem;
  left: 32rem;
  transform: rotate(-20deg);
  font-size: 10rem;
}
.landing__container .landing__iconJumping {
  margin-top: 2rem;
  font-size: 20rem;
  padding: 2rem;
  filter: drop-shadow(0 0 0.8rem hsl(320, 20%, 80%));
  border-radius: 50%;
  color: hsl(232, 17%, 60%);
}
.select {
  position: relative;
  width: 15rem;
  border: none;
}
.select .select__button {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  border: none;
  background-color: hsl(21, 35%, 92%);
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  height: 100%;
}
.select .select__container {
  position: absolute;
  height: 15rem;
  overflow-y: scroll;
  background-color: hsl(0, 0%, 96%);
}
.select .select__container.show {
  display: flex;
  width: 100%;
}
.select .select__container.hide {
  display: none;
}
.select .select__container .select__optionsContainer {
  width: 100%;
}
.select .select__container .select__optionsContainer .select__option {
  display: flex;
  justify-content: flex-start;
  background-color: hsl(21, 35%, 92%);
  width: 100%;
}
.select .select__container .select__optionsContainer .select__option .tempLabel {
  flex: 1;
  font-size: 1.5rem;
}
.createFormContainer {
  margin-top: 5rem;
}
.createFormContainer .form__title {
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin-bottom: 4rem;
  font-size: 3rem;
}
.createFormContainer .createForm__icon {
  font-size: 15rem;
  margin: 0;
  margin-top: 11rem;
  text-align: center;
  color: hsl(11, 24%, 72%);
}
.createFormContainer .createDog {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  max-width: 60rem;
  margin: 0 auto;
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: hsla(11, 24%, 90%, 0.5);
  backdrop-filter: blur(1.5rem);
  box-shadow: 0 0 0.8rem hsla(0, 0%, 40%, 0.4);
}
.createFormContainer .createDog .name {
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
}
.createFormContainer .createDog .name:focus {
  outline: 2px solid hsl(309, 6%, 58%);
}
.createFormContainer .createDog .formBlock {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.createFormContainer .createDog .formBlock input {
  border: none;
  padding: 0.4rem 0.6rem;
  border-radius: 0.3rem;
}
.createFormContainer .createDog .formBlock input:focus {
  outline: 2px solid hsl(309, 6%, 58%);
}
@media screen and (min-width: 720px) {
  .createFormContainer .createDog .formBlock {
    flex-direction: row;
  }
}
.createFormContainer .createDog .file {
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 0.2rem;
  background-color: hsl(0, 0%, 90%);
}
.createFormContainer .createDog .createBtn {
  border: none;
  padding: 0.5rem 1rem;
  display: inline-block;
  width: 10rem;
  font-size: 1.4rem;
  font-weight: bold;
  background-color: hsl(140, 80%, 30%);
  color: hsl(0, 0%, 98%);
  border-radius: 0.3rem;
  cursor: pointer;
}
.createFormContainer .createDog .createBtn:disabled {
  background-color: hsl(0, 0%, 80%);
}
.image_message {
  font-size: 1.5rem;
  color: hsl(232, 17%, 35%);
}
.message__confirm {
  padding: 1rem;
  display: inline-block;
  font-weight: bold;
  width: 20rem;
  background-color: hsl(90, 100%, 25%);
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
}
.input__container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.input__container label {
  display: inline-block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.3rem;
}
.input__container.input__container {
  width: 100%;
}
.formError__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.formError__container .formError {
  font-size: 1.5rem;
  color: hsl(0, 95%, 60%);
  margin: 0;
  font-weight: bold;
  background-color: hsla(0, 80%, 55%, 0.2);
  padding: 0 0.3rem;
  border-radius: 0.2rem;
  width: fit-content;
}
.nav {
  position: sticky;
  top: 0;
  display: flex;
  z-index: 23;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  background-color: hsl(240, 27%, 18%);
  width: 100%;
}
@media screen and (min-width: 720px) {
  .nav .nav {
    flex-direction: row;
    align-items: center;
  }
}
.nav .nav__mainContainer {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1.5rem;
}
.nav .nav__mainContainer .logo {
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  font-size: 1.5rem;
}
.nav .nav__mainContainer .nav__filtersMenuButtonContainer .nav__showFilterBtn,
.nav .nav__mainContainer .nav__filtersMenuButtonContainer .nav__showMenu {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  color: hsl(0, 0%, 100%);
}
.nav .nav__mainContainer .nav__filtersMenuButtonContainer .nav__showMenu {
  font-size: 3rem;
}
.nav .nav__mainContainer .nav__filtersMenuButtonContainer .nav__showFilterBtn {
  font-weight: bold;
}
@media (min-width: 720px) {
  .nav .nav__mainContainer .nav__filtersMenuButtonContainer {
    display: none;
  }
}
.nav .nav__logoutButton {
  background-color: transparent;
  color: hsl(21, 35%, 92%);
  border: none;
  font-size: 1.8rem;
  cursor: pointer;
}
.nav .nav__button {
  text-align: center;
  width: 100%;
  border: none;
  display: inline-block;
  padding: 0.5rem 1rem;
  text-decoration: none;
  border-radius: 0.2rem;
  color: hsl(0, 0%, 100%);
  cursor: pointer;
}
.nav .nav__button.nav__buttonHome {
  font-size: 1.6rem;
}
.nav button.nav__button {
  background-color: transparent;
  cursor: pointer;
}
@media screen and (min-width: 720px) {
  .nav .nav__button {
    width: 14rem;
  }
}
.nav button.nav__button,
.nav .nav__button {
  font-size: 2rem;
  font-weight: bold;
}
.nav .nav__container {
  display: none;
  margin: 0 auto;
}
@media screen and (min-width: 720px) {
  .nav .nav__container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
}
.nav .nav__mobileContainer {
  display: none;
}
@media screen and (min-width: 720px) {
  .nav .nav__mobileContainer {
    display: none;
  }
}
.nav .nav__filtersMenuButtonContainer {
  display: flex;
  gap: 1rem;
}
.nav .showMenu {
  background-color: hsla(240, 27%, 18%, 0.5);
  backdrop-filter: blur(1.4rem);
  position: absolute;
  top: 7rem;
  padding: 1rem;
  z-index: 22;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
@media screen and (min-width: 720px) {
  .nav .showMenu {
    display: none;
  }
}
@media screen and (min-width: 720px) {
  .nav {
    position: relative;
  }
}
.nav__userInfo {
  font-size: 1.5rem;
  width: 20rem;
  color: hsl(21, 35%, 92%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.nav__userInfo div {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.nav__userInfo div i {
  font-size: 2rem;
}
@media screen and (min-width: 480px) {
  .nav__userInfo {
    flex-direction: row;
  }
}
.filterSelect {
  border: none;
  width: 100%;
  padding: 0.4rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: hsl(21, 35%, 92%);
  cursor: pointer;
}
.filterSelect option {
  cursor: pointer;
}
.filterTitle {
  font-size: 1.5rem;
  color: hsl(0, 0%, 90%);
  text-align: center;
}
.filter__containerLimit {
  position: fixed;
  top: 6.9rem;
  z-index: 21;
  min-width: 100%;
  background-color: hsla(240, 27%, 16%, 0.5);
  backdrop-filter: blur(1.4rem);
}
.filter__containerLimit .filter__container {
  display: none;
  padding: 2rem;
  width: fit-content;
  max-width: 1200px;
  margin: 0 auto;
}
.filter__containerLimit .filter__container .filter__searchContainer,
.filter__containerLimit .filter__container .filter__orderContainer,
.filter__containerLimit .filter__container .filter__filterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.filter__containerLimit .filter__container .filter__searchContainer h4,
.filter__containerLimit .filter__container .filter__orderContainer h4,
.filter__containerLimit .filter__container .filter__filterContainer h4 {
  margin: 0;
}
.filter__containerLimit .filter__container .filter__searchContainer {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 1rem;
}
.filter__containerLimit .filter__container .filter__searchContainer i {
  font-size: 1.75rem;
  color: hsl(309, 6%, 58%);
}
.filter__containerLimit .filter__container .filter__searchContainer .searchBar {
  border: none;
  padding: 0.33rem 1rem;
  border-radius: 0.33rem;
  font-size: 1.5rem;
  background-color: hsl(21, 35%, 92%);
}
.filter__containerLimit .filter__container .filter__searchContainer .searchBar:focus {
  outline: 0.2rem solid hsl(50, 55%, 80%);
}
.filter__containerLimit .filter__container .filter__searchContainer .searchButton {
  border: none;
  padding: 0.33rem 1rem;
  border-radius: 0.33rem;
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  font-weight: bold;
  background-color: hsl(210, 55%, 50%);
  cursor: pointer;
}
.filter__containerLimit .filter__container .filter__searchContainer .filter__createButton {
  display: none;
}
@media screen and (min-width: 720px) {
  .filter__containerLimit .filter__container .filter__searchContainer .filter__createButton {
    background-color: hsl(130, 40%, 45%);
    font-size: 1.5rem;
    display: inline-block;
    text-decoration: none;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    padding: 0.3rem 1rem;
    text-align: center;
    border-radius: 0.3rem;
  }
}
.filter__containerLimit .filter__container .filter__filterOrderContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
}
.filter__containerLimit .filter__container .filter__filterOrderContainer .filter__orderContainer,
.filter__containerLimit .filter__container .filter__filterOrderContainer .filter__filterContainer {
  min-width: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 480px) {
  .filter__containerLimit .filter__container .filter__filterOrderContainer .filter__orderContainer,
  .filter__containerLimit .filter__container .filter__filterOrderContainer .filter__filterContainer {
    min-width: 100%;
    display: grid;
    column-gap: 0.1rem;
    grid-template-columns: 12rem 15rem 18rem;
    border-top-left-radius: 0.45rem;
    border-bottom-left-radius: 0.45rem;
    background-color: hsl(232, 17%, 48%);
  }
}
@media screen and (min-width: 1000px) {
  .filter__containerLimit .filter__container .filter__filterOrderContainer {
    width: 49.5%;
    flex-direction: row;
    gap: 1rem;
  }
}
.filter__containerLimit .showFilter {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 720px) {
  .filter__containerLimit .filter__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media screen and (min-width: 720px) {
  .filter__containerLimit {
    position: sticky;
    top: 0;
  }
}
.page {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.page .home__title {
  text-align: center;
  color: hsl(21, 35%, 92%);
}
.page .page__pagination {
  background-color: hsla(11, 45%, 80%, 0.7);
  backdrop-filter: blur(1.4rem);
  width: fit-content;
  margin: 0 auto;
  padding: 0.25rem;
  border-radius: 0.33rem;
  position: sticky;
  top: 8.5rem;
  z-index: 20;
  display: flex;
  justify-content: center;
}
.page .page__pagination button {
  border: none;
  background-color: hsl(0, 0%, 22%);
  color: hsl(0, 0%, 100%);
  padding: 0.5rem 1.5rem;
  border-radius: 0.3rem;
  cursor: pointer;
}
.page .page__pagination span {
  font-size: 1.6rem;
  display: inline-block;
  width: 7rem;
  text-align: center;
  font-weight: bold;
  color: hsl(240, 27%, 18%);
}
.page .page__cardsContainer {
  display: grid;
  gap: 0.75rem;
  width: 90%;
  margin: 0 auto;
}
@media (min-width: 600px) {
  .page .page__cardsContainer {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 720px) {
  .page .page__cardsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1080px) {
  .page .page__cardsContainer {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1200px) {
  .page .page__cardsContainer {
    width: 100%;
  }
}
.filter__mobileCreateButton {
  position: fixed;
  bottom: 10px;
  right: 10px;
  text-decoration: none;
  background-color: hsla(130, 40%, 20%, 0.7);
  backdrop-filter: blur(1rem);
  padding: 1rem;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  text-align: center;
  font-size: 3.5rem;
  color: hsl(21, 35%, 92%);
}
@media screen and (min-width: 720px) {
  .page {
    margin-top: 2rem;
  }
  .page .page__pagination {
    top: 16rem;
  }
  .filter__mobileCreateButton {
    display: none;
  }
}
@media screen and (min-width: 920px) {
  .page {
    margin-top: 2rem;
  }
  .page .page__pagination {
    top: 15.5rem;
  }
}
@media screen and (min-width: 1000px) {
  .page {
    margin-top: 2rem;
  }
  .page .page__pagination {
    top: 12rem;
  }
}
/* @media screen and (min-width: 1200px) {
  .page {
    margin-top: 2rem;

    .page__pagination {
      top: 12rem;
    }
  }
} */
.footer {
  background-color: hsl(240, 27%, 18%);
  color: hsl(0, 0%, 100%);
  margin: 0;
  padding: 2rem;
}
.footer p {
  font-size: 1.5rem;
  text-align: center;
  margin: 0;
}
@font-face {
  font-family: 'Days One';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/daysone/v14/mem9YaCnxnKRiYZOCLYV.ttf) format('truetype');
}
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mada/v19/7Aulp_0qnzeSVz7u3PJLcUMYOFkpl3kw.ttf) format('truetype');
}
@font-face {
  font-family: 'Mada';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/mada/v19/7Aulp_0qnzeSVz7u3PJLcUMYOFlnl3kw.ttf) format('truetype');
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(21, 35%, 92%);
  text-align: center;
  text-shadow: 0 0 1rem hsl(240, 60%, 80%);
}
.logo h1 {
  margin: 0;
}
.logo h1 .logoDoggy,
.logo h1 .logoPedia {
  font-family: 'Mada', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
}
.logo h1 .logoPedia {
  font-weight: 900;
}
.detail {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  max-width: 50rem;
}
.detail .detail__card {
  min-width: 100%;
}
.detail .detail__card img {
  display: block;
  margin: 0 auto;
}
.detail .detail__card h1 {
  text-align: center;
  margin: 0;
  margin-bottom: 2rem;
  color: hsl(21, 35%, 92%);
  font-size: 2.5rem;
}
.detail .detail__card .detail__imgIdContainer .detail__id {
  top: 0;
  z-index: 10;
  color: hsl(21, 35%, 92%);
  background-color: hsl(240, 27%, 18%);
  margin: 0;
  font-size: 1.5rem;
  padding: 1rem 2rem;
}
.detail .detail__card .detail__temperaments,
.detail .detail__card .detail__weight,
.detail .detail__card .detail__height,
.detail .detail__card .detail__age {
  color: hsl(21, 35%, 92%);
  font-size: 1.5rem;
  background-color: hsla(232, 17%, 29%, 0.4);
  backdrop-filter: blur(1.4rem);
  padding: 1rem;
  border-radius: 0.5rem;
}
.signUp__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logSignForm__container {
  width: 80%;
  margin: 0 auto;
  margin-top: 10rem;
}
.logSignForm__container .logSignForm__logo {
  color: hsl(21, 35%, 92%);
  font-size: 3rem;
}
.logSignForm__container .logSignForm__subtitle {
  text-align: center;
  color: hsl(11, 24%, 72%);
  text-shadow: 0 0 0.5rem hsla(240, 27%, 60%, 0.8);
  font-size: 3rem;
  margin: 3rem;
  font-weight: bold;
}
.logSignForm__container .logSignForm {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background-color: hsla(21, 35%, 92%, 0.15);
  backdrop-filter: blur(1rem);
  width: 90%;
  border-radius: 0.5rem;
}
.logSignForm__container .logSignForm .logSignForm__icon {
  display: flex;
  justify-content: center;
  font-size: 10rem;
  margin: 2rem 0;
  color: hsl(232, 17%, 35%);
}
.logSignForm__container .logSignForm input {
  border: 1px solid hsla(232, 17%, 35%, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 0.33rem;
}
.logSignForm__container .logSignForm input::placeholder {
  color: hsla(232, 17%, 35%, 0.6);
}
.logSignForm__container .logSignForm input:focus {
  outline: 2px solid hsla(232, 17%, 50%, 0.7);
}
.logSignForm__container .logSignForm .logSignForm__buttons {
  display: flex;
  justify-content: space-between;
}
.logSignForm__container .logSignForm .logSignForm__buttons button {
  display: inline-block;
  border: none;
  background-color: hsl(11, 24%, 72%);
  padding: 0.5rem 2rem;
  border-radius: 0.33rem;
  color: hsl(180, 100%, 100%);
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
}
.logSignForm__container .logSignForm .logSignForm__buttons .logSignForm__buttonLink {
  background-color: hsl(11, 40%, 50%);
}
.logSignForm__container .logSignForm .logSignForm__buttons .logSignForm__buttonLink .logSignForm__link {
  text-decoration: none;
  color: hsl(180, 100%, 100%);
  font-weight: bold;
}
.logSignForm__container .logSignForm .logSignForm__create {
  font-size: 1.5rem;
  font-weight: bold;
  width: 12rem;
}
@media screen and (min-width: 720px) {
  .logSignForm__container {
    max-width: 50%;
  }
}
@media screen and (min-width: 920px) {
  .logSignForm__container {
    max-width: 30%;
  }
}
html {
  font-size: 62.5%;
}
*,
::before,
::after {
  box-sizing: border-box;
}
.App {
  background: #4a4e69;
  background: -moz-linear-gradient(140deg, rgba(74, 78, 105, 0.5) 15%, rgba(74, 78, 105, 0.6) 49%, rgba(34, 34, 59, 0.5) 83%);
  background: -webkit-linear-gradient(140deg, #4a4e69 15%, rgba(74, 78, 105, 0.6) 49%, rgba(34, 34, 59, 0.5) 83%);
  background: linear-gradient(140deg, #4a4e69 15%, rgba(74, 78, 105, 0.6) 49%, rgba(34, 34, 59, 0.8) 83%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4a4e69", endColorstr="#22223b", GradientType=1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
/*# sourceMappingURL=App.css.map */